{% extends 'admin/change_form.html' %}
{% block field_sets %}
  <div class="row">
    <input type="submit" value="Login as" name="_login-as"/>
    <input type="submit" value="Get JWT" name="_get-jwt"/>
  </div>
  {{ block.super }}
{% endblock %}
